@import url('mixins.less');

/* Table of Contents:
   1. Tablet landscape
   2. Tablet portrait
   3. Mobile landscape
   4. Mobile portrait
*/



/*==========================================================================
1. Tablet landscape
===========================================================================*/

.switcher {
	display:none;
}

@media (max-width: 1250px) {
	body {
		min-width: 320px;
	}
	
	.switcher {
		display: inline-block;
	}
	#block-block-9 {
		width: 900px;
		margin-left: -450px;
	}
	#block-block-6 .col-1 {
		width: 700px;
	}
}



/*==========================================================================
2. Tablet portrait
===========================================================================*/

@media (max-width: 995px) {
	.page-page-404 .panel-col-first {
		font-size: 160px;
	}
	
	.stickup{
		box-shadow: none !important;
		position: static !important;
	}
	
	.pseudoStickyBlock{
		display: none !important;
		height: 0 !important;
	}
	
	#backtotop {
		display: none !important;
	}
	#block-block-6 .col-1 {
		float: none;
		margin-bottom: 20px;
		width: auto;
	}
	#block-block-6 .btn {
		text-align: left;
	}
	ul li, .item-list ul li, ul.menu li {
		padding-left: 18px;
		font-size: 90%;
	}
	#block-views-our-team-block-1 {
		.views-field-field-employee-tel,
		.views-field-field-employee-mail {
			font-size: 80%;
		}
	}

	#block-block-9 {
		bottom: 0;
		left: auto;
		margin-left: 0;
		margin-top: 30px;
		padding: 0 25px;
		position: relative;
		width: auto;
	}
	#block-views-services-block .views-row .views-field-field-service-icon {
		width: 160px;
		background-size: 100% !important;
		height: 160px;
		line-height: 160px;
		font-size: 60px;
		margin: 30px 0;
	}
	#block-views-our-advantages-block .views-row .counter {
		float: none;
		margin: 0 0 15px;
	}
	.img-left.rt {
		float: none;
		margin: 0 0 20px;
	}
	#superfish-1 > li ul li ul {
		left: -101% !important;
	}
}



/*==========================================================================
3. Mobile landscape
===========================================================================*/

@media (max-width: 767px) {
	#superfish-1 {
		display: none;
	}

	.select-menu {
		display: block !important;
		width: 100%;
	}

	.comment-wrapper {
		overflow: visible;
	}

	.user-picture {
		margin-bottom: 12px;
	}

	.views-field-field-portfolio-image {
		pointer-events: none;
	}

	.panel-2col .panel-col-first,
	.panel-2col .panel-col-last {
		float: none;
		width: 100%;

		.inside {
			margin: 0;
		}
	}

	.page-page-404 .panel-col-first {
		font-size: 170px;
		line-height: 170px;
		text-align: center;
	}

	.filter-help {
		float: none;
		margin-bottom: 15px;
		padding-top: 0;
	}
	
	.mobile-two-column .views-row {
		float: left !important;
		width: 46% !important;
		margin-right: 4% !important;
		
		&.even {
			margin-right: 0 !important;
		}
		
		&.odd {
			clear: left;
		}
	}
	#block-superfish-1 {
		float: none;
	}
	.img-left.rt,#block-views-solutions-block .views-field-field-image {
		float: left;
		max-width: 45%;
		margin: 0 20px 10px 0;
	}
}



/*==========================================================================
4. Mobile portrait
===========================================================================*/

@media (max-width: 479px) {
	.node-teaser .field-type-file,
	.node-teaser .field-type-image,
	.node-employee .field-type-image {
		float: none;
		margin: 0 0 20px;
		max-width: inherit;
		width: auto;
	}

	#comments {
		.comment .comment-wrapper {
			overflow: visible;
		}

		.indented {
			margin-left: 0;
		}
	}

	.page-tracker #main-wrapper .content {
		overflow-x: scroll;

		table.sticky-header {
			display: none !important;
		}
	}

	.page-forum #forum {
		overflow-x: scroll;

		td.forum .icon {
			float: none;
			margin: 0 0 5px;
		}
	}

	.field-name-field-testi-image {
		float: none;
		margin: 0 0 20px;
		max-width: inherit;
	}
	
	.mobile-two-column .views-row {
		float: none;
		width: 100% !important;
		margin-right: 0 !important;
	}
	.img-left.rt,#block-views-solutions-block .views-field-field-image {
		float: none;
		max-width: 100%;
		margin: 0 0 15px 0;
	}
}