@import url(//fonts.googleapis.com/css?family=Roboto:400,500,700,300,900,300italic,400italic,500italic,700italic,900italic);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
@import url(//fonts.googleapis.com/css?family=Smythe);
@import url('mixins.less');


/* Table of Contents:
   1. General
   2. Header top
   3. Header
   4. Header bottom
   5. Content top
   6. Content
   7. Content bottom
   8. Pages
   9. Sidebar and blocks
   10. Footer top
   11. Footer
*/



/*==========================================================================
1. GENERAL
===========================================================================*/

body {
	-webkit-tap-highlight-color: @linkColor;
	background: #75c88d;
	color: @textColor;
	font-weight: 300;
	font-family: @baseFontFamily;
	font-size: @baseFontSize;
	line-height: @baseLineHeight;
	min-width: 1250px;
	position: relative;
}

#page-wrapper {}


/* Titles
===========================================================================*/

h1 {
	color: @titleTextColor;
	font: 500 36px/36px @titleFontFamily;
	text-transform: uppercase;
	margin-bottom: 20px;
}

h2 {
	color: @titleTextColor;
	font: 500 24px/32px @titleFontFamily;
	text-transform: uppercase;
	margin-bottom: 24px;
}

h3,
#block-tm-follow-user h2/*,
#block-forum-active h2,
#block-forum-new h2*/ {
	color: @titleTextColor;
	font: 300 20px/24px @titleFontFamily;
	margin-bottom: 23px;
}

.profile h3,
#block-tm-follow-user h2 {
	border-bottom: 1px solid @borderColor;
	overflow: hidden;
	padding-bottom: 5px;
}

h4 {
	color: @titleTextColor;
	font: 300 18px/24px @titleFontFamily;
	margin-bottom: 11px;
}

h5 {
	color: @titleTextColor;
	font: 500 14px/20px @titleFontFamily;
	text-transform: uppercase;
	margin-bottom: 15px;
}

h6 {
	color: @titleTextColor;
	font: 500 14px/20px @baseFontFamily;
	margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	a {
		color: inherit;
		text-decoration: none;

		&:hover {
			color: @linkColor;
			text-decoration: none;
		}
	}
}


/* Forms
===========================================================================*/

input[type="text"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="number"],
input[type="month"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea,
select {
	background: #fff;
	border: 1px solid @borderColor;
	.box-sizing(border-box);
	color: @textColor !important;
	font: @baseFontSize @baseFontFamily;
	max-width: 100%;
	padding: 5px 10px 6px;
}

fieldset {
	border-color: @borderColor;
}

#search-form .form-item {
	display: block;
}

#user-login,
#contact-site-form,
.search-form {
	.form-text {
		width: 100%;
	}
}

#contact-site-form label {
	vertical-align: middle;
}


/* Links
===========================================================================*/

a {
	color: @linkColor;
	text-decoration: none;
	.transition(all 0.4s ease);

	&:hover {
		color: @linkHoverColor;
		text-decoration: none;
	}
}

.btn a,
.more-link a,
input[type="submit"],
input[type="reset"],
ul.links li a,
.view-portfolio .views-field-view-node a,
#block-poll-recent ul.links li a,
#filters li a,
.content ul.pager li a,
.content ul.pager li.pager-current,
.view .date-nav-wrapper .date-prev a,
.view .date-nav-wrapper .date-next a,
.form-submit {
	text-align: center;
	background: #ead57d;
	border: none;
	border-radius: 0;
	box-shadow: none;
	color: #fff;
	display: inline-block;
	font: 500 18px/22px @titleFontFamily;
	outline: none;
	padding: 15px 20px 13px 16px;
	text-decoration: none;
	text-transform: uppercase;
}
	.btn a:hover,
	.more-link a:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	ul.links li a:hover,
	.view-portfolio .views-field-view-node a:hover,
	#block-poll-recent ul.links li a:hover,
	#filters li a:hover,
	#filters li a.selected,
	.content ul.pager li a:hover,
	.content ul.pager li.pager-current,
	.view .date-nav-wrapper .date-prev a:hover,
	.view .date-nav-wrapper .date-next a:hover,
	.form-submit:hover {
		background: @linkColor;
		color: #fff;
		text-decoration: none;
	}

.btn-2 {
	a {
		padding: 17px 52px;
		background: #525252;
		border-radius: 2px;
		-webkit-box-shadow: 0 0 1px rgba(82,82,82,.7);
		-moz-box-shadow: 0 0 1px rgba(82,82,82,.7);
		box-shadow: 0 0 1px rgba(82,82,82,.7);
	}
}


.more-link {
	padding-top: 20px;
	text-align: left;
}


/* Lists
===========================================================================*/

ul,
.item-list ul,
ul.menu {
	margin: 0 0 @baseLineHeight;

	li {
		background: url(../images/list-marker.gif) 0 7px no-repeat;
		list-style: none;
		font-size: 18px;
		margin: 12px 0 0;
		padding: 0 0 0 28px;

		&:first-child {
			margin-top: 0;
		}

		a {
			color: inherit;
			text-decoration: none;

			&:hover {
				color: @linkColor;
				text-decoration: none;
			}
		}

		ul {
			padding-top: 10px;
		}
	}
}

/* Reset styles for lists */
ul.tabs,
ul.flex-direction-nav,
ul.links,
ul#admin-menu-menu,
ul#admin-menu-account,
ul#admin-menu-icon,
ul.slides,
ul.contextual-links,
ul.tips,
ul.pager,
.messages.error ul,
.rate-widget ul {
	li {
		background: none;
		font: inherit;
		margin-top: 0;
		padding-left: 0;
		a {
		}
	}
}

.messages.error ul li {
	list-style: disc;
}

#admin-menu,
#admin-menu .dropdown{
	z-index: 10000;
}


/* Images
===========================================================================*/

img {
	.box-sizing(border-box);
	height: auto;
	max-width: 100%;
	width: auto;
}

.frame,
.field-type-image,
.views-field-field-image,
.view-portfolio .isotope-element .views-field-field-portfolio-image,
.field-name-field-blog-media,
.field-name-field-image,
.field-name-field-portfolio-image,
.field-name-field-service-image,
.field-name-field-employee-photo,
.field-name-field-banner-image,
.field-name-field-slide-image {
	margin-bottom: 30px;
	position: relative;
}

.field-name-field-banner-image{
	width: 250px;
}

.user-picture {
	background: none;
	float: left;
	margin-right: 15px;
	max-width: 45%;
	padding: 0;

	.profile & {
		float: right;
		margin: 0 0 0 20px;
	}
}
.field-name-field {
	&-service-icon,
	&-work-icon {
		font-size: 100px;
		line-height: 50px;
		float: left;
		margin: 0 40px 0 0;
		color: @linkColor;
	}
}

/* Paragraph
===========================================================================*/

p {
	margin-bottom: 21px;
}


/* Tables
===========================================================================*/

table {
	margin-bottom: 0;

	tr.odd,
	tr.even {
		border: none;
	}

	tr.odd {
		background: transparent;
	}

	tr.even {
		background: @altBg;
	}

	th {
		background: @altBg;
		border: none;
		color: @linkColor;
		font-size: 14px;
		padding: 5px;

		a {
			color: inherit;
			
			&:hover{
				color: @linkColor;
				text-decoration: none;
			}
		}
	}

	td {
		padding: 5px;
	}
}


/* Classes
===========================================================================*/


.extra-wrap {
	overflow: hidden;
}

.wrapper {
	overflow: hidden;
	position: relative;
	width: 100%;
}

.clearfix {
	position: relative;

	&:after {
		clear: both;
		content: '\0020';
		display: block;
		height: 0;
		overflow: hidden;
		visibility: hidden;
		width: 0;
	}
}
.l-clear {
	clear: left;
}
.region-header-top:after,
.region-header:after,
.region-header-bottom:after,
.region-header-bottom-second:after,
.region-menu:after,
.region-content-top:after,
.region-content:after,
.region-content-bottom:after,
.region-footer-top:after,
.region-footer:after {
	clear: both;
	content: '';
	display: block;
	width: 100%;
}

.fclear {
	clear: both;
}

.separator {
	clear: both;
	height: 40px;
}

.separator-top {
	border-top: 0;
	clear: both;
	margin-top: 50px;
	padding-top: 0;
}

.separator-bottom {
	border-bottom: 0;
	margin-bottom: 50px;
	padding-bottom: 0;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}
.color-1 {
	color: @linkColor;
}
.style-1 {
	font-size: 12px;
	line-height: 21px;
}
.img-left {
	float: left;
	margin: 0 20px 15px 0;
}
/* Selection colours
===========================================================================*/

::selection,
::-moz-selection {
	background: @linkColor;
	color:#fff;
	text-shadow:none;
}

img::selection,
img::-moz-selection {
	background: transparent;
}



/*==========================================================================
2. HEADER TOP
===========================================================================*/

.region-header-top {
	margin-bottom: 30px;
}



/*==========================================================================
3. HEADER
===========================================================================*/

#header {
	position: relative;
	width: 100%;
	border-top: 13px solid #525252;
	background: url(../images/body.gif) center top repeat #f0f2f2;
}
.region-header {
	position: relative;
}
.header-section-1 {
	background: #75c88d;
	border-top: 1px solid #86a890;
	border-bottom: 1px solid #c1e3cf;
	padding: 11px 0 13px;
}
.stickup{
	.transition(all 0.4s ease);
	z-index: 9999;
}

.isStuck{
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
	left: 0;
	right: 0;
	top: 0;

}


/* Logo
===========================================================================*/

#logo {}

.img-logo {}

.site-name {
	margin-bottom: 0;

	a:hover {
		color: inherit;
		text-decoration: none;
	}
}

.slogan {}


/* Menu
===========================================================================*/

.select-menu {
	display: none !important;
}
#block-superfish-1 {
	float: right;
}
#superfish-1 {
	background: none;
	margin-bottom: 0;
	padding: 33px 0 20px;
	width: auto;
	z-index: 101;
	.clearfix;

	> li {
		background: none;
		border: 0;
		font: 300 18px/22px @titleFontFamily;
		margin: 0 0 0 22px;
		overflow: inherit;
		padding: 0;
		text-transform: uppercase;

		&:first-child {
			margin-left: 0;
		}

		> a {
			color: #f1f1f1;
			text-decoration: none;

			.sf-sub-indicator {}
		}

		> a:hover,
		&.active-trail > a,
		&.sfHover > a {
			color: @linkHoverColor;
			text-decoration: none;

			.sf-sub-indicator {}
		}

		ul {
			background: #75c88d;
			display: none;
			padding: 15px 0 11px;
			top: 64px;
			width: 120px !important;

			li {
				background: none;
				border-bottom: 0;
				float: none !important;
				font-size: 12px;
				height: auto;
				padding: 0 15px;
				width: auto !important;

				> a:visited,
				> a {
					color: #fff;
					text-decoration: none;

					.sf-sub-indicator {}
				}

				> a:hover,
				&.active-trail > a,
				&.sfHover > a {
					color: #2b1915;
					text-decoration: none;
				}

				ul {
					left: 101% !important;
					top: -15px;
				}
			}
		}
	}
}


/* Slider
===========================================================================*/

.flex-viewport {
	.transition(none);
}

.flexslider {
	background: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0;
}

#flexslider-1 {
	.slides li {
		padding: 0;

		img {
			width: 100%;
		}
	}

	.flex-control-nav {
		bottom: 20px;
		font-size: 0;
		line-height: 0;
		z-index: 20;

		li a {
			box-shadow: none;
		}
	}

	.flex-control-thumbs li {
		width: 20%;
	}

	.flex-direction-nav {
		a {
			&.flex-prev {}
			&.flex-next {}
			&:hover {}
			
			&:before{
				line-height: 40px;
			}
		}
	}

	&:hover .flex-next {
		opacity: 1;
		right: 0;
	}

	&:hover .flex-prev {
		opacity: 1;
		left: 0;
	}

	.flex-caption {
		bottom: 191px;
		left: 134px;
		position: absolute;
		width: 530px;
	}
}



/*==========================================================================
4. HEADER BOTTOM
===========================================================================*/

.region-header-bottom {
	margin-top: 42px;
}
.header-bottom-section-2 {
	background: url(../images/header-bottom-2.gif) center top repeat;
	margin-top: 16px;
}
.region-header-bottom-second {
	padding: 39px 0 28px;
}


/*==========================================================================
5. CONTENT TOP
===========================================================================*/

.region-content-top {
	margin-bottom: 30px;
}



/*==========================================================================
6. CONTENT
===========================================================================*/

#main-wrapper {
	padding: 42px 0 34px;
	background: url(../images/body.gif) center top repeat #f0f2f2;
}

.region-content {
	padding: 0;
}

.views-row {
	margin-bottom: 30px;

	&.last {
		margin-bottom: 0;
	}
}


/* System messages
===========================================================================*/

div.messages {
	margin-bottom: 30px;
	padding-right: 30px;

	.dismiss {
		box-shadow: none;
		border-radius: 2px;
		font-family: @baseFontFamily;
		line-height: normal;
		padding: 2px 6px 4px;
		text-transform: lowercase;
		width: auto;

		&:hover {
			color: #fff;
			text-shadow: none;
		}
	}
}


/* Breadcrumbs
===========================================================================*/

#breadcrumb {
	color: @textColor;
	margin-bottom: 30px;
	padding: 0;

	a {
		color: inherit;
		padding: 0 3px;
		text-decoration: none;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}

		&:hover {
			color: @linkColor;
		}
	}
}


/* Admin tabs
===========================================================================*/

.tabs-wrapper {
	margin: 1px 0 20px;
}

.tabs {
	overflow: hidden;
}

.tabs ul.primary {
	border: 0;
	border-bottom: 1px solid @borderColor;
	margin: 0 0 20px;
	overflow: hidden;
	padding: 4px 0;

	li {
		margin-bottom: -1px;

		a {
			background: @white;
			border: 1px solid @borderColor;
			border-bottom: 0;
			border-radius: 3px 3px 0 0;
			color: @textColor;
			font-size: 12px;
			font-weight: normal;
			margin: 0;
			overflow: hidden;
			padding: 3px 15px 4px;
			text-shadow: none;
			.transition(all 0.1s linear);
		}

		&.active a,
		a:hover {
			background: @linkColor;
			border-color: darken(@linkColor, 3%);
			color: @white;
			text-decoration: none;
		}
	}
}


/* Rating
===========================================================================*/

/* Emotions */
.rate-widget-emotion {
	ul {
		margin-bottom: 0;
		overflow: hidden;
		
		li {
			float: left;
			margin: 0 0 0 10px;
			
			&:first-child {
				margin-left: 0;
			}
			
			a{
				background: none;
				border: none;
				color: transparent !important;
				font-size: 0;
				line-height: 0;
				.opacity(50);
				padding: 0;
				text-decoration: none;
				
				&:before {
					color: @textColor !important;
					content: "\f11a";
					font: 18px/22px FontAwesome;
				}
				
				&:hover {
					background: none;
					.opacity(100);
					text-decoration: none;
					
					&:before {
						color: @linkColor !important;
					}
				}
			}
			
			&.first a:before{
				content: "\f119";
			}
			
			&.last a:before{
				content: "\f118";
			}
		}
	}
}

/* Likes */
.rate-widget-thumbs_up {
	a {
		background: none;
		color: transparent;
		font-size: 0;
		height: auto;
		line-height: 0;
		.opacity(50);
		text-decoration: none;
		text-indent: 0;
		width: auto;

		&:after {
			color: @textColor;
			content: "\f004";
			font: 18px/22px FontAwesome;
		}
		
		&:hover {
			.opacity(100);
			text-decoration: none;
			
			&:after{
				color: @linkColor;
			}
		}
	}
}

/* Stars */
.rate-widget-fivestar {
	ul {
		margin-bottom: 0;
		
		li {
			a {
				background: none;
				color: transparent;
				font-size: 0;
				height: auto;
				line-height: 0;
				.opacity(50);
				text-decoration: none;
				text-indent: 0;
				width: auto;
				
				&:before {
					color: @textColor;
					content: "\f005";
					font: 18px/22px FontAwesome;
				}
				
				&:hover,
				&.rate-fivestar-btn-filled {
					.opacity(100);

					&:before {
						color: @linkColor;
					}
				}
			}
		}
	}
}

/* Up/Down */
.rate-widget-yesno{
	ul {
		margin-bottom: 0;
		
		li {
			margin-left: 10px;
			
			&:first-child{
				margin-left: 0;
			}
			
			a {
				border: none;
				background: none;
				color: transparent;
				font-size: 0;
				height: auto;
				line-height: 0;
				.opacity(50);
				text-decoration: none;
				text-indent: 0;
				width: auto;
				
				&:before {
					color: @textColor;
					font: 18px/22px FontAwesome;
				}
				
				&:hover {
					background: none;
					.opacity(100);

					&:before {
						color: @linkColor;
					}
				}
			}
			
			&.first a:before {
				content: "\f165";
			}
			&.last a:before {
				content: "\f164";
			}
		}
	}
}



/* blocks
===========================================================================*/
#block-views-solutions-block {
	.views-field-field-image {
		float: left;
		width: 364px;
		margin: 0 20px 0 0;
	}
}
#block-views-how-we-work-block {
	.views-row {
		margin-bottom: 20px !important;
	}
	.views-field-field-work-icon {
		float: left;
		margin: 0 25px 0 0;
		width: 50px;
		font-size: 48px;
		color: @linkColor;
	}
}
#block-views-our-advantages-block {
	.views-row {
		border-bottom: 1px solid @borderColor;
		padding-bottom: 24px;
		margin-bottom: 30px;
		&-last {
			border-bottom: none;
			padding-bottom: 0;
		}
		.counter {
			float: left;
			margin: 0 20px 0 0;
			width: 76px;
			height: 60px;
			text-align: center;;
			line-height: 60px;
			color: @white;
			font-weight: 500;
			font-size: 24px;
			background: #00ba9d;
		}
	}
}
#block-block-9 {
	position: absolute;
	width: 1100px;
	bottom: 27px;
	left: 50%;
	margin-left: -550px;
	text-align: center;
	font-weight: 500;
	z-index: 99;
	p {
		margin-bottom: 12px;
	}
	h1 {
		margin-bottom: 2px;
	}
}
#block-views-testimonials-block {
	.views-row {
		margin-bottom: 23px !important;
		h5 {
			display: inline-block;
			margin-bottom: 0;
		}
		.color-1 {
			font-weight: 500;
		}
		a {
			font-weight: 300;
			font-style: italic;
			display: inline-block;
			color: @titleTextColor;
			margin-bottom: 11px;
			&:hover {
				color: @linkColor;
			}
			&:after,&:before {
				display: inline-block;
				content: '"';
			}
		}
	}
}
#block-views-latest-news-block {
	.views-field-field-blog-media {
		margin-bottom: 15px;
	}
	.views-field-body {
		border-bottom: 1px solid @borderColor;
		padding-bottom: 16px;
		margin-bottom: 12px;
	}
	.views-field-created {
		color: @linkHoverColor;
	}
}
#block-block-6 {
	h2 {
		margin-bottom: 4px;
	}
	.col-1 {
		float: left;
		width: 845px;
	}
	.btn {
		text-align: right;
		a {
			text-align: center;
		}
	}
}
#block-views-services-block {
	.views-row {
		background: #00ba9d;
		margin-bottom: 30px !important;
		text-align: center;
		padding: 0 0 1px;
		.views-field-title {
			font: 600 24px/30px @titleFontFamily;
			padding: 14px 5px 16px;
			border-bottom: 1px solid rgba(218,218,218,.48);
			color: @white;
		}
		& + .views-row {
			background: #3bc195;
			.btn a {
				background: #25a77c;
				&:hover {
					background: #ead57d;
				}
			}
			.views-field-field-service-icon {
				background: url(../images/icon-bg-2.png) 0 0 no-repeat;
			}
			& + .views-row {
				background: #75c88d;
				.btn a {
					background: #5eac75;
					&:hover {
						background: #ead57d;
					}
				}
				.views-field-field-service-icon {
					background: url(../images/icon-bg-3.png) 0 0 no-repeat;
				}
				& + .views-row {
					background: #b0ce85;
					.btn a {
						background: #95b666;
						&:hover {
							background: #ead57d;
						}
					}
					.views-field-field-service-icon {
						background: url(../images/icon-bg-4.png) 0 0 no-repeat;
					}
				}
			}
		}
		.btn {
			a {
				text-transform: none;
				font-size: 24px;
				line-height: 30px;
				display: block;
				background: #008974;
				padding: 14px 5px 16px;
				&:hover {
					background: #ead57d;
				}
			}
		}
		.views-field-field-service-icon {
			margin: 49px 0 58px;
			background: url(../images/icon-bg-1.png) 0 0 no-repeat;
			font-size: 72px;
			line-height: 193px;
			color: @white;
			display: inline-block;
			width: 193px;
			height: 193px;
		}
	}
}


/*==========================================================================
7. CONTENT BOTTOM
===========================================================================*/

.region-content-bottom {
	margin-top: 30px;
	padding-top: 40px;
	border-top: 1px solid @borderColor;
}



/*==========================================================================
8. PAGES
===========================================================================*/

/* Portfolio
===========================================================================*/

#isotope-container {
	margin-left: -10px;
	margin-right: -10px;
}

.isotope-element {
	background: none;
	.box-sizing(border-box);
	color: inherit;
	margin: 0 10px 30px;
	height: auto;
	overflow: visible;
	padding: 0;
	position: relative;
	width: auto;

	.views-field-field-portfolio-image {
		background: url(../images/ajax-loader.gif) center center no-repeat #fff;
		margin-bottom: 25px;

		a {
			background: #fff;
			display: block;
			overflow: hidden;
			position: relative;
			text-decoration: none;

			&:after {
				background: none;
				color: @linkColor;
				content: "\f00e";
				font: 60px/60px FontAwesome;
				left: 50%;
				margin: -30px 0 0 -30px;
				position: absolute;
				top: -100%;
				z-index: 999;
			}

			&:hover:after {
				top: 50%;
			}
		}

		img {
			width: 100%;
		}
	}

	.views-field-body {
		margin-bottom: 25px;
	}
}

#isotope-options {
	background: none;

	#filters {
		margin-bottom: 20px;
		text-align: right;

		li {
			display: inline-block;
			margin-left: 10px;
			margin-bottom: 10px;
			padding: 0;
			background: none;
		}
	}
}

/* Categories */
.field-name-field-portfolio-category {
	ul {
		float: left;
		overflow: hidden;
		
		&:before {
			content: "\f02e";
			display: block;
			float: left;
			font-family: fontAwesome;
			margin-right: 4px;
		}
	}
}



/* Blog
===========================================================================*/


.page-blog .content-header ul{
	margin-bottom: 0;
	
	li{
		background: none;
		padding: 0;
	}
}

.node {
	.separator-top;

	&:first-child {
		background: none;
		border-top: 0;
		margin-top: 0;
		padding-top: 0;
	}
}

/* Author & date information */
.node-header {
	margin-bottom: 20px;
}
	
	.node-title {
	}
	
	.node-submitted {
		margin: 0;
		font-size: 18px;
		span.fa {
			color: @linkColor;
			margin-right: 5px;
		}
		a {
			color: inherit;
			
			&:hover{
				color: @linkColor;
				text-decoration: none;
			}
		}
		
		.node-author,
		.node-time,
		.node-views {
			margin-right: 7px;
		}
		
		.node-comments {}
	}

/* Blog image */
.node-teaser .field-type-file,
.node-teaser .field-type-image,
.node-employee .field-type-image,
.node .field-type-file,
.node .field-type-image {
	float: left;
	margin: 0 20px 5px 0;
	max-width: 45%;
	width: 364px;
}

/* Blog video */
.media-vimeo-video{
	padding-bottom: 50.2%;
	
	.node-teaser &{
		padding-bottom: 63.2%;
	}
}
.media-youtube-video{
	padding-bottom: 50.2%;
	
	.node-teaser &{
		padding-bottom: 63.2%;
	}
}
.media-vimeo-video,
.media-youtube-video {
	height: 0;
	overflow: hidden;
	padding-top: 30px;
	position: relative;
	
	iframe {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

/*Blog links */
.links {
	list-style: none;

	li {
		display: inline-block !important;
		margin-bottom: 5px;
		margin-right: 5px;
	}
}

/* Pagination */
.content ul.pager {
	margin-top: 30px;
	text-align: left;

	li {
		margin: 0px 1px 5px;
		padding: 0;
		display: inline-block;
	}
}

/*Node Tags*/
.node footer {
	padding-top: 10px;

	.field-name-field-tags {
		padding-top: 20px;

		.field-label {
			background: none;
			float: left;
			font: inherit;
			font-weight: bold;
			margin-right: 15px;
			padding: 0;
			text-shadow: none;
			text-transform: none;
		}

		.field-items {
			overflow: hidden;
			padding-bottom: 15px;
			width: 100%;
		}

		ul li {
			float: left;
			margin: 0 0 5px 10px;

			&:first-child {
				margin-left: 0;
			}

			a {
				font: inherit;
				font-weight: bold;
				padding: 2px 8px;
			}
		}
	}
}

/* Tags */
.field-name-field-blog-tags {
	ul {
		float: left;
		overflow: hidden;
		
		&:before {
			content: "\f02c";
			display: block;
			float: left;
			font-family: fontAwesome;
			margin-right: 4px;
		}
	}
}


/* Comments */
#comments {
	.separator-top;

	.comments-title {}

	.indented {
		margin-left: 20px;
	}
}

.comment {
	background: transparent;
	border: 1px solid @borderColor;
	margin-bottom: 10px;
	padding: 25px;
	
	.comment-title {}
	
	.comment-submitted {
		margin: 0 0 5px;
	}
	
	.comment-content {
		margin-bottom: 20px;
	}

	.comment-footer {
		padding: 0;
	}
}


/* Comment form*/
#comment-form-wrapper {
	.separator-top;
	
	.comments-title {}
}

#comment-form {
	/* form elements */
	.form-item {
		margin: 0 0 15px;
		overflow: hidden;
		width: 100%;
	}
	
	label {
		vertical-align: middle;
	}
	
	.form-type-item label {
		float: left;
		padding-right: 10px;
	}
	
	.form-text {
		width: 100%;
	}

	.form-textarea {
		height: 200px;
		width: 100%;
	}

	/* filter*/
	.filter-wrapper {
		border: none;
		padding: 0;

		.fieldset-wrapper {
			> * {
				padding: 0;
			}
		}

		.filter-help {
			padding-top: 15px;

			a {
				background: none;
				display: inline-block;
				padding: 0;
			}
		}
		
		.form-item {
			width: auto;
		}

		label {
			display: inline-block;
			margin-right: 15px;
		}
	}
	
	/* buttons */
	.form-actions {
		margin: 0;
		padding-top: 20px;
		
		#edit-submit {
			margin-right: 5px;
		}
	}
}

/* Comment edit*/
#edit-comment-body-und-0-format-guidelines {
	clear: both;

	ul {
		font: inherit;

		li {
			background: none;
			overflow: hidden;
			margin: 0;
			padding: 0;
			width: 100%;
		}
	}
}



/* Contacts
===========================================================================*/

.panels-flexible-region-11-contacts{
	float: none;
	width: 100%;
}



/* Forum
===========================================================================*/

.action-links {
	overflow: hidden;
	padding: 0 0 25px;

	li {
		float: left;
		margin-left: 10px;

		&:first-child {
			margin-left: 0;
		}

		a {
			font-weight: bold;
		}
	}
}

#forum table {
	td.topics,
	td.posts,
	td.replies {
		text-align: center;
	}

	td.container {
		font-weight: bold;
	}

	.description {
		margin: 0;
	}

	.indent {
		margin: 0;
	}
	.name {
		overflow: hidden;
	}
	.description {
		clear: both;
	}
}

.field-name-taxonomy-forums,
.field-type-taxonomy-term-reference {
	overflow: hidden;
	padding-top: 20px;
	width: 100%;

	&.field-label-above {
		padding-top: 0;
	}

	.field-label {
		background: none;
		font: inherit;
		font-weight: bold;
		margin: 0;
		text-shadow: none;
		text-transform: uppercase;
	}

	ul.links li {
		float: left;
		margin: 0 0 5px 10px;

		&:first-child {
			margin-left: 0;
		}

		a {
			background: none;
			border: none;
			box-shadow: none;
			color: @linkColor;
			display: inline;
			font: inherit;
			padding: 0;
			text-shadow: none;
			text-transform: none;

			&:hover {
				background: none;
				text-decoration: underline;
			}
		}
	}
}

.page-forum- #main-wrapper .active img {
	padding: 0;
	background: 0;
	border: none;
	margin-left: 5px;
	margin-top: 4px;
}


/* 404 Page not found
===========================================================================*/

.page-page-404 {
	.panel-col-first {
		color: @linkColor;
		font: bold 250px/200px @baseFontFamily;
		text-align: center;
	}
}

.panel-2col {
	.panel-col-first .inside {
		margin: 0 20px 0 0;
	}

	.panel-2col .panel-col-last .inside {
		margin: 0 0 0 20px;
	}
}


/* Testimonials
===========================================================================*/

.page-testimonials {
	.view-display-id-page {
		.views-row {
			margin-top: 30px;

			&:first-child {
				margin-top: 0;
			}
		}

		.views-field-field-testi-image{
			float: left;
			margin: 0 20px 0 0;
			max-width: 45%;
			width: 80px;
		}

		.views-field-nothing {
			margin-bottom: 10px;

			p {
				margin-bottom: 0;
			}

			a {
				color: inherit;
				
				&:hover{
					color: @linkColor;
					text-decoration: none;
				}
			}
		}
		
		.views-field-field-testi-author,
		.views-field-field-testi-author-info{
			text-align: right;
		}
	}
}

.field-name-field-testi-image {
	float: left;
	margin: 0 20px 0 0;
	max-width: 45%;
}

.field-name-field-testi-author {
	font-weight: bold;
}


/* Archive
===========================================================================*/

.view-archive {
	.field-name-body {
		margin-bottom: 20px;
	}

	.views-row {
		margin-top: 40px;

		&:first-child {
			margin-top: 0;
		}
	}

	.field-name-taxonomy-forums {
		padding-top: 0;
	}
}


/* FAQs
===========================================================================*/

.view-FAQs.view-id-FAQs {
	.views-row {
		margin-top: 30px;

		&:first-child {
			margin-top: 0;
		}
	}
}


/* Compose tips
===========================================================================*/

.compose-tips {
	.filter-type {
		margin-top: 40px;

		&:first-child {
			margin-top: 0;
		}
	}
}


/* Comments page
===========================================================================*/

.view-comments-recent.view-display-id-page {
	.views-row {
		margin-top: 30px;

		&:first-child {
			margin-top: 0;
		}
	}
}



/*==========================================================================
9. SIDEBARS and BLOCKS
===========================================================================*/

.sidebar {
	position: relative;

	.block {
		.separator-top;

		&:first-child {
			border-top: 0 !important;
			margin-top: 0 !important;
			padding-top: 0 !important;
		}
	}
}


/* Contextual links
===========================================================================*/

.not-logged-in .contextual-links {
	display: none !important;
}

.contextual-links li {
	padding: 0;
	background: none;
}


/* Calendar
===========================================================================*/

.calendar-calendar {
	table,
	table td,
	table th,
	.month-view .full th.days {
		border:1px solid @borderColor;
	}

	td.calendar-agenda-items,
	.month-view .full td.single-day .calendar-empty,
	.month-view .full td.single-day.empty,
	.month-view .full td.date-box.empty {
		border-color: @borderColor;
	}

	tr,
	tr.odd,
	tr.even {
		td.today {
			background-color: transparent;
			color: @linkColor;
			font-weight: bold;
		}
	}

	th.days {
		background: @altBg;
		border: none;
		color: @textColor;
	}

	td {
		text-align: center;
	}

	td .inner div,
	td .inner div a {
		background: none;
	}

	.month-view .full td.multi-day div.monthview,
	.week-view .full td.multi-day div.weekview,
	.day-view .full td.multi-day div.dayview {
		background: @altBg;
	}

	.day-view .full td .inner div.calendar {
		.views-field-created {
			color: @textColor;
			float: left;
			width: 50px;
		}

		.views-field-title {
			overflow: hidden;
		}
	}

	.month-view .full tr td.single-day.today,
	.month-view .full td.date-box.today {
		border-color: @linkColor;
	}
}

.view-Calendar .pager .date-prev,
.view-Calendar .pager .date-next,
.view .date-nav-wrapper .date-prev,
.view .date-nav-wrapper .date-next {
	background: none;
	border-radius: 0;
	line-height: 0;
	padding: 0;
	top: 6px;

	a {
		background: @textColor;
		color: transparent;
		display: block;
		font-size: 0;
		height: 22px;
		line-height: 0;
		margin: 0;
		padding: 0;
		position: relative;
		text-align: center;
		.transition(all 0.6s ease);
		width: 22px;

		&:before {
			color: #fff;
			font-family: FontAwesome;
			font-size: 12px;
			font-weight: normal;
			left: 50%;
			line-height: 22px;
			margin-left: -5px;
			margin-top: -11px;
			position: absolute;
			top: 50%;
		}

		&:hover {
			background: @linkColor;
		}
	}
}

.view .date-nav-wrapper .date-prev {
	right: auto;
}

.view .date-nav-wrapper .date-prev a:before {
	content: "\f060";
}

.view .date-nav-wrapper .date-next a:before {
	content: "\f061";
}

table .mini-day-on a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}


/* Isotop filter
===========================================================================*/

.sidebar #isotope-options #filters {
	text-align: left;

	li {
		margin: 0 10px 5px 0;
	}
}


/* Our team
===========================================================================*/

#block-views-our-team-block {
	.views-row {
		margin-bottom: 0;
		margin-top: 20px;
		overflow: hidden;

		&.views-row.views-row-first {
			margin-top: 0;
		}

		.views-field-field-employee-photo {
			width: 100px;
			float: left;
			margin-right: 15px;
		}

		.views-field-body {
			margin-bottom: 0;
		}
	}
}
#block-views-our-team-block-1 {
	.views-row {
		margin-bottom: 20px !important;
		h5 {
			margin-bottom: 0;
			display: inline;
		}
		.views-field-field-employee-photo {
			margin-bottom: 13px;
		}
		.title-wrap {
			margin-bottom: 11px;
		}
		.views-field-body {
			margin-bottom: 7px;
		}
		.label {
			text-transform: uppercase;
		}
	}
}

/* Poll's bar
===========================================================================*/

.poll {
	.total,
	.title {
		margin-bottom: 15px;
	}

	.bar {
		background-color: @white;
		border: 1px solid @borderColor;
		height: 20px;
		margin-bottom: 15px;
		padding: 1px;

		.foreground {
			background-color: @linkColor;
			display: none;
			height: 20px;
		}
	}

	.percent {
		float: right;
	}

	.vote-form {
		text-align: left;
		padding-bottom: 15px;

		.choices {
			width: 100%;
		}
	}
}

#block-poll-recent ul.links li {
	background: none;
	padding-left: 0;
}


/* Recent comments
===========================================================================*/

#block-views-comments-recent-block {
	.views-row {
		margin-top: 20px;

		&:first-child {
			margin-top: 0;
		}
	}

	.views-field-subject a {
		color: inherit;
		
		&:hover{
			color: @linkColor;
			text-decoration: none;
		}
	}
}


/* Recent content
===========================================================================*/

.contextual-links-region .node-title a {
	color: inherit;
	
	&:hover{
		color: @linkColor;
		text-decoration: none;
	}
}


/* Recent posts
===========================================================================*/

#block-views-recent-posts-block {
	.views-row {
		margin-top: 20px;

		&:first-child {
			margin-top: 0;
		}
	}

	.views-field-body {
		clear: both;
		padding-top: 10px;
	}
}


/* Search
===========================================================================*/

#search-block-form,
[id^="search-block-form"] {
	.element-invisible {
		display: none !important;
	}

	.container-inline {
		border: 1px solid @borderColor;
		.box-sizing(border-box);
		display: block;
		overflow: hidden;
		position: relative;
		width: 100%;
	}
	
	.form-item-search-block-form{
		display: block;
		margin: 0 30px 0 0;
	}
	
	input.form-text {
		background: none;
		border: none;
		display: block;
		margin: 0;
		width: 100%;
	}
	
	[id^=edit-actions] {
		z-index: 1;

		&:after {
			color: @textColor;
			content: "\f002";
			cursor: pointer;
			font: 20px/30px FontAwesome;
			margin-top: -16px;
			position: absolute;
			right: 0;
			text-align: center;
			top: 50%;
			width: 30px;
			z-index: 1;
		}
		
		&:hover:after {
			color: @linkColor;
		}
	}
	
	.form-submit {
		background: none;
		border: none;
		border-radius: 0;
		bottom: 0;
		box-shadow: none;
		color: transparent;
		cursor: pointer;
		display: block;
		font-size: 0;
		line-height: 0;
		margin: 0 !important;
		padding: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 30px;
		z-index: 2;
	}
}

/* Sibscribe
===========================================================================*/

.block-simple-subscription-subscribe input[type="text"] {
	width: 100%;
}


/*==========================================================================
10. FOOTER TOP
===========================================================================*/

.region-footer-top {
	padding: 22px 0 44px;
	color: #f0f2f3;
	h1,h2,h3,h4,h5,h6 {
		color: #f1f4f4;
		a {
			color: inherit;
			&:hover {
				color: @linkColor;
			}
		}
	}
	a {
		color: @linkColor;
		&:hover {
			color: @white;
		}
	}
	.btn {
		a {
			color: @white;
			&:hover {
				color: @white;
			}
		}
	}
	section.block {
		margin-bottom: 20px;
	}
}
.footer-top-section {
	background: #525252;
	border-top: 1px solid #b0b1b2;
	border-bottom: 1px solid #60816a;
}


/*==========================================================================
11. FOOTER
===========================================================================*/

#footer {
	clear: both;
	padding: 0;
	position: relative;
}

.region-footer {
	padding: 9px 0 0;
	color: #f1f1f1;
	a {
		color: #f1f1f1;
		&:hover {
			color: @titleTextColor;
		}
	}
	section.block {
		margin-bottom: 7px;
	}
}

/* Footer menu
===========================================================================*/

.footer-menu ul{
	margin: 0;
	overflow: hidden;
	
	li{
		background: none;
		float: left;
		margin: 0 0 0 10px;
		padding: 0;
		
		&:first-child{
			margin-left: 0;
		}
		
		a {
			color: inherit;
			text-decoration: none;
			
			&:hover,
			&.active{
				color: @titleTextColor;
				text-decoration: none;
			}
		}
	}
}


/* Copyright
===========================================================================*/

.block-copyright {
	a {
		color: inherit;
		
		&:hover{
			color: @titleTextColor;
			text-decoration: none;
		}
	}
}


/* Back to top
===========================================================================*/

#backtotop {
	background: @textColor;
	border-radius: 50%;
	bottom: 30px;
	color: transparent;
	font-size: 0;
	line-height: 0;
	margin-right: 0 !important;
	padding: 3px 0 7px;
	position: fixed;
	right: 40px !important;
	text-align: center;
	text-decoration: none;
	width: 70px;
	z-index: 5;

	&:after{
		color: #fff;
		content: "\f077";
		font: normal 40px/60px FontAwesome;
	}
	&:hover {
		background-color: @linkColor;
		opacity: 1;
	}
}


/* Switcher
===========================================================================*/

.switcher {
	cursor: pointer;
	margin-top: 10px;
	font-size: 11px;

	&:hover {
		text-decoration: underline;
	}
}